/* Global styles */
body {
    background-color: rgb(252, 144, 3);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/* Header styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Title styles */
#title {
    display: flex;
    flex-direction: column;
    line-height: 13px;
}

/* Navigation styles */
ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 20px;
}

/* Heading styles */
h1 {
    font-weight: 200;
}

h2 {
    font-size: 56px;
    line-height: 10px;
}

/* Link styles */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 0);
    transition: 0.3s all;
}

/* Span styles */
span {
    color: rgb(255, 0, 0);
}

/* Main styles */
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

/* Paragraph styles */
p {
    line-height: 20px;
    max-height: 500px;
}

/* Button styles */
#inscreva-se-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* Input styles */
input {
    margin-top: 20px;
    height: 50px;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
}

/* Submit button styles */
input[type="submit"] {
    height: 40px;
    width: 150px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background-color: rgba(224, 47, 47, 0.5);
}
